
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}" type="text/css">

<title> Voizfonica Assistant</title>
</head>

<body style="background-image:url('https://th.bing.com/th/id/OIP.VaANR3Yp_6hWNx31jiyVXgHaNK?pid=ImgDet&rs=1');background-repeat:no-repeat;background-size:cover">
 <a href="http://127.0.0.1:8000/home1"> <button style="background-color:blue;border:0;width:20%;padding:5px;color:white;margin-top:3%;font-size:20px"><b>Go Back</b></button></a>
<br class="row d-flex">
<!--left side-->
<!--http://localhost:9898/<name>-->
<h1 style="float:left;color:white;position:relative;top:10rem">
  Voizfonica Chatbot is here<br> to assist you
</h1>
<div class="container" style="width:20rem;float:right;">
<div class="row">
  <div class="card col mb-3" style="width: 40rem;;border-color:#264348;background-image:url('http://localhost:9898/globe.png');height:36rem;">
    <div class="card-body ">
      <center><h3 class="title" style="background-color:#264348;color:white">VoizFonica Assistant</h3></center>
      <form method="POST" action="">
        {% csrf_token %}
          
          <div class="row justify-content-end">
            user :<div style="background-color:grey" class=" card p-1" >{{ user}}<br></div>
          </div>

          <div class="row justify-content-start">
            VoizFonica :<div style="background-color:#264348;" class=" card text-white   p-1" style="width:auto ; height: auto;">{{ bot}}<br></div>
          </div>
        
        <div class="row justify-content-around d-flex align-items-end" style="position:absolute;top:30rem">
          <input type="text" name="input" name="input" class="col-8  form-control" style="border-color:#264348;"></input>
          <button class="btn col-3 text-white" style="background-color:#264348">Send</button>
        </div>
    
      </div>
  </div>
</div>
</div>
</body>
</html>
